<br>
<% if flash[:message] %>
  <strong><%= flash[:message] %></strong>
<% end %>

<p> Logged in as <%= current_user.username %>
<p> Account type <strong><%= current_user.usertype %></strong>
<h3>Welcome to your Schedule Maker, <%= @user.username %>!</h3>