<h3>Sign Up</h3>

<% if flash[:message] %>
  <strong><%= flash[:message] %></strong>
<% end %>

<form action="/signup" method="POST">
  <p>Name: <input type="text" name="username"></p>
  <p>Account Type: <br>
    <input type="checkbox" id="instructor" name="usertype" value="instructor">
    <label for="instructor">Instructor</label>
        <input type="checkbox" id="student" name="usertype" value="student">
        <label for="student">Student</label>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn btn-primary" type="submit">
</form>

