<h2>Add a class</h2>
<form action="/new_class" method="POST">
  <p>Class Name: <input type="text" name="class_name"></p>
  <p>Instructor: <input type="text" name="class_instructor"></p>
  <p>Credits: <input type="text" name="class_credits"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>