<h2> You Added </h2>

<% @class.each do |class| %>
  <div>
    <h1><%= class.class_name %><p></h1>
      <h4><%= class.class_instructor %><p></h4>
        <h4><%= class.class_credits %><p></h4><br>

  </div>
<% end %>