<h2>Add a course</h2>

<% if flash[:message] %>
  <strong><%= flash[:message] %></strong>
<% end %>

<form action="/new_course" method="POST">
  <p>Course Name: <input type="text" name="course_name"></p>
  <!-- <p>Instructor: <input type="text" name="course_instructor"></p> -->
  <p>Credits: <input type="text" name="course_credits"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>