<!doctype html>
<html>
  <head>
    <title>Schedule Maker</title>
  </head>
  <body>
    <center>
      
      <a href="/signup">Signup</a><br>
      <a href="/login">Login</a>
    
      <%= yield %> 
      
      
    </center>
  </body>
</html>
