<!doctype html>
<html>
  <head>
    <title>Schedule Maker</title>
  </head>
  <body>
    <center>

      <% if logged_in? %>

        <a href="/courses/new_course">Create A New Course</a><br>
        <a href="/courses/courses/">Your Courses</a><br>
        <%= yield %>
        <a href="/logout">Logout</a>

      <% else %>

        <a href="/signup">Signup</a><br>
        <a href="/login">Login</a>
        <%= yield %>

      <% end %> 
    
      <!-- <%= yield %>  -->
      
      
    </center>
  </body>
</html>
